---
name: Test Credential Isolation
run-name: Test credential isolation (${{ github.head_ref || github.ref_name }})

on:
  push:
    branches: [master]
  pull_request:
  workflow_dispatch:

jobs:
  credential-isolation-tests:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Vault
        id: secrets
        uses: SonarSource/vault-action-wrapper@545e7cfbb5528e7009a1edcc83e073898d292627 # 3.2.0
        with:
          secrets: |
            development/github/token/{REPO_OWNER_NAME_DASH}-sonar-dummy-workflows token | GITHUB_TOKEN;

      - name: Trigger and wait for credential isolation tests
        uses: convictional/trigger-workflow-and-wait@f69fa9eedd3c62a599220f4d5745230e237904be # v1.6.5
        with:
          owner: SonarSource
          repo: sonar-dummy
          github_token: ${{ fromJSON(steps.secrets.outputs.vault).GITHUB_TOKEN }}
          ref: master
          workflow_file_name: test-cache-isolation.yaml
          client_payload: |
            {
              "cache_action_ref": "${{ github.head_ref || github.ref_name }}"
            }
